<!-- Register - start		================================================== -->
<section id="aboutus" class="pt-3 pb-5 clearfix mobile-space">
    <div class="container">
        <div class="mb-15">
            <div class="row">
              
	<!-- our-aboutus-section - start
		================================================== -->
	<section id="our-management-section" class="our-management-section bg-gray-light sec-ptb-50 clearfix">
		<div class="container">
			<div class="row">

				<!-- section-title - start -->
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="section-title text-left mb-50 pt-3">
						 <div class="section-title text-left">
                        <h2 class="title-large">About <strong> Us</strong> </h2>
                    </div>
						<p class="black-color mb-30">
						The Trucking Network is a Canadian “English and Punjabi” bilingual distribution, established in 2012. TTN’s magazine is published monthly and is designed to help anyone who is seeking trucking related, operates, services and maintains trucks and trailers. Its writers deliver news and insights that commercial truck operators need to make informed decisions about buying and maintaining equipment, including trends, product reports, best practices and technology.

The Trucking Network magazine caters to different communities, including South Asian Community truckers who make up the largest ethnic group in the industry.
						</p>
						<p class="black-color mb-30">
						Accompanied by print/online magazine TTN has been helping trucking companies to meet their hiring needs by organizing mega job fair events in Ontario & Alberta. In year 2019 the events were extended to Hamilton and Kitchener, ON and in next year 2020 TTN is also conducting the mega job fair event in Windsor, ON. So we have got you covered where you need us – Driver Shortage is a challenge lets address it together!!!
						</p>
					</div>
				</div>
				<!-- section-title - end -->
			</div>
		</div>
	</section>
	<!-- our-aboutus-section - end
		================================================== -->

	<!-- our-management-section - start
		================================================== -->
	<section id="our-management-section" class="our-management-section bg-gray-light sec-ptb-50 clearfix">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="row">
						<!-- management-item - start -->
						<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="item-title">
									<h3 class="title-text">
										our <strong>goal</strong>
									</h3>
								</div>
                                <div class="about-img">
                                    <img src="../../assets/images/about-plan.jpg" alt="">
                                </div>
								<p class="black-color mb-30">
									Our Goal is to provide our readers with critical business news, a wide variety of technical updates, product knowledge and to help enable more efficient business operations. We provide the best advice and information on new rules and regulations which you may face in day to day operations. Introduct an online job portal for job seekers and companies to integrate quickly.
								</p>
							
						</div>
						<!-- management-item - end -->

						<!-- management-item - start -->
						<div class="col-lg-4 col-md-4 col-sm-12">
							
								<div class="item-title">
									<h3 class="title-text">
										our <strong>team</strong>
									</h3>
								</div>
                                <div class="about-img">
                                    <img src="../../assets/images/about-mission.jpg" alt="">
                                </div>
								<p class="black-color mb-30">
									From the management team to our highly professional designer, editors, publishers, IT Development team and Marketing experts, everyone has a vast investment and experience in their field. We feature professional writers from the industry to bring you their years of experience and a vast pool of Knowledge. Our consultants have been involved in the trucking industry from ten to thirty years!
								</p>
							
						</div>
						<!-- management-item - end -->

						<!-- management-item - start -->
						<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="item-title">
									<h3 class="title-text">
										our <strong>vision</strong>
									</h3>
								</div>
                                <div class="about-img">
                                    <img src="../../assets/images/about-vision.jpg" alt="">
                                </div>
								<p class="black-color mb-30">
									Our Vision is to operate with integrity, innovation and the pursuit of a cost-effective service. We, at The Trucking Network through continuous improvement, will provide a vital contribution to the industry, our clients success , overall economic prosperity, collaborative initiatives, creating industry related awareness and our communities well being.
								</p>
							
						</div>
						<!-- management-item - end -->

					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- our-management-section - end
		================================================== -->




            </div>
        </div>
    </div>
</section>