<!-- Register - start		================================================== -->

<section id="contact" class="pt-3 pb-5 clearfix mobile-space">
    <div class="container">
        <div class="mb-15">
            <div class="row">
                <div class="container register">
                    <div class="row">
                        <div class="col-md-8 register-right m-auto">
                            <h2 class="pt-4">Contact Us</h2>
                           
                            <div class="tab-content">
                                <div class="tab-pane fade show active">
                                    <form id="contact-us-form" name="contact-form">
                                        <div class="row ">
                                            <div class="col-md-12 form-box">
                                                <div class="form-group col-md-6 col-sm-12">
                                                    <label class="string optional active">Your Name<span>*</span>
                                                    </label>
                                                    <input class="form-control" type="text" name="name">
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12">
                                                    <label class="string optional active">Email<span>*</span>
                                                    </label>
                                                    <input type="email" class="form-control" name="email" />
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12">
                                                    <label class="string optional active">Phone<span>*</span>
                                                    </label>
                                                    <input class="form-control" type="text" minlength="10"  maxlength="20" name="phone_no" id="phone_no_contact" placeholder="xxx-xxx-xxxx" /><i class="prefix">+1</i>
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12">
                                                    <label class="string optional active">Subject<span>*</span>
                                                    </label>
                                                    <input type="text" class="form-control" name="subject" />
                                                </div>
                                                <div class="form-group col-md-12 col-sm-12">
                                                    <label class="string optional active">Message<span>*</span>
                                                    </label>
                                                    <textarea type="text" class="form-control" name="message" id="message"></textarea>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-12 text-left mt-1 mb-1">
                                                    <div class="agree_text text-color-red" id="error-message-contact" style="font-size: 18px;"></div>
                                                </div>
                                                {{!-- <div class="g-reCAPTCHA" data-sitekey="6Lekda0ZAAAAABMpCDRCkEWRQZjVur0tMyVPGtT7"></div> --}}
                                                {{!-- <button class="g-recaptcha" 
                                                    data-sitekey="6Lekda0ZAAAAABMpCDRCkEWRQZjVur0tMyVPGtT7" 
                                                    data-callback='onSubmit' 
                                                    data-action='submit'>Submit --}}
                                                </button>
                                                <div class="form-group col-md-12 col-sm-12 text-center mt-3">
                                                    <button type="submit" class="btn btn-danger pl-5 pr-5" id="contact-us">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12 pb-5 pt-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="icons">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        The Trucking Network Inc.
                                        2985 Drew Road, Unit 207
                                        Mississauga, ON L4T 0A7
                                        Canada
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="icons">
                                            <i class="fas fa-mobile-alt"></i>
                                        </div>
                                        +1 647 818 2121<br />
                                        +1 905-564-7576<br />
                                        1-800-508-1214<br />
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="icons">
                                            <i class="fas fa-envelope-open"></i>
                                        </div>
                                        <p class="font15">Sales: <a href="mailto:nav@thetruckingnetwork.ca">nav@thetruckingnetwork.ca</a>
                                <br>
                                General: <a href="mailto:info@thetruckingnetwork.ca">info@thetruckingnetwork.ca</a>
                                </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>