<section id="checkout-section" class="pt-3 pb-5 clearfix mobile-space event-section">
    <div class="container">

        <div class="mb-15">
            <div class="row">

                {{!-- Thank you message --}}
                <div class="col-md-6 m-auto thankyou">
                    <div class="cart-item " style="cursor: auto;">
                        <div class=" text-center pb-4">
                            <img src="../assets/images/check-circle.gif" alt="" class="m-4">
                            <h4>THANK YOU</h4>
                            <p>Thanks for contacting us, we wil get back to you shortly.</p>
                        </div>
                        <div class="col-md-12 text-center mb-4">
                            <a href="/#event-section" class="button-red pl-4 pr-4">View Upcoming Events</a>
                        </div>
                        <div class="clearfix">
                        </div>

                    </div>
                </div>
                {{!-- Thank you message end--}}

            </div>
        </div>
    </div>
</section>