<section id="previous-events" class="pt-3 clearfix mobile-space">

	<div class="mb-15" style="margin-bottom: 0;">

		<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url(https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center">
									<span class="sub-title">TTN Services</span>
									<h2 class="big-title">What we are offering</h2>
								</div>
								<!-- breadcrumb-title - end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->

		<!-- service-section - start
		================================================== -->
		<section id="service-section" class="service-section sec-ptb-100 clearfix">
			<div class="container">

				<!-- service-wrapper - start -->
				<div class="service-wrapper">

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
						<div class="">
							<img src="assets/images/service/2.2.image.png" alt="" class="thumbnail-img">
							</div>
						</div>
						<div class="service-content float-right">
							<div class="service-title">
								<h2 class="title-text">Job Fair events  <strong>Across Canada</strong></h2>
							</div>
							<p class="service-description black-color mb-30">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. 
							</p>
						
							<div class="text-left">
								<a href="#!" class="custom-btn">View Jobs</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-right">
							<div class="">
								<img src="assets/images/service/2.2.image.png" alt="" class="thumbnail-img">
							</div>
						</div>
						<div class="service-content float-left">
							<div class="service-title">
								<h2 class="title-text">Virtual job fair  <strong>events</strong></h2>
							</div>
							<p class="service-description black-color">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. 
							</p>
							<div class="service-type-list mb-30 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Online Presentation
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										traditional musical
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

								</ul>
							</div>
							<div class="text-left">
								<a href="#!" class="conference-btn">View Virtual Event</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
							<img src="assets/images/service/2.2.image.png" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-right">
							<div class="service-title">
								<h2 class="title-text">Print  <strong>magazine</strong></h2>
							</div>
							<p class="service-description black-color">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. 
							</p>
							<div class="service-type-list mb-30 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Large Client base
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										online store
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										office meeting
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										wedsite development
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										online store
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										office meeting
									</li>

								</ul>
							</div>
							<div class="text-left">
								<a href="#!" class="conference-btn">View  e-Magazine</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-right">
							<img src="assets/images/service/2.2.image.png" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-right">
							<div class="service-title ">
								<h2 class="title-text">Digital  <strong>Network Platform</strong></h2>
							</div>
							<p class="service-description black-color ">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. 
							</p>
							<div class="service-type-list mb-30 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Driver Training 
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										traditional musical
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

								</ul>
							</div>
							<div class="text-left">
								<a href="#!" class="conference-btn">View more</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->
					
					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
							<img src="assets/images/service/2.2.image.png" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-left">
							<div class="service-title">
								<h2 class="title-text">Big Rig Expo <strong>-Calgary</strong></h2>
							</div>
							<p class="service-description black-color">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. 
							</p>
							<div class="service-type-list mb-30 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Driver Training 
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										traditional musical
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

								</ul>
							</div>
							<div class="text-left">
								<a href="#!" class="conference-btn">View more</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->
					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-right">
							<img src="assets/images/service/2.2.image.png" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-right">
							<div class="service-title">
								<h2 class="title-text">Educational <strong>Webinars</strong></h2>
							</div>
							<p class="service-description black-color">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. 
							</p>
							<div class="service-type-list mb-30 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Driver Training 
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										traditional musical
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

								</ul>
							</div>
							<div class="text-left">
								<a href="#!" class="conference-btn">View more</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->
	<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
							<img src="assets/images/service/2.2.image.png" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-left">
							<div class="service-title mb-30">
								<h2 class="title-text">Trucking industry  <strong>Online training </strong></h2>
							</div>
							<p class="service-description black-color mb-30">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. 
							</p>
							<div class="service-type-list mb-50 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Driver Training 
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										traditional musical
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

								</ul>
							</div>
							<div class="text-left">
								<a href="#!" class="conference-btn">View more</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-right">
							<img src="assets/images/service/2.2.image.png" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-right">
							<div class="service-title ">
								<h2 class="title-text">Digital   <strong>Job board </strong></h2>
							</div>
							<p class="service-description black-color">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. 
							</p>
							<div class="service-type-list mb-30 clearfix">
								<ul>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										Driver Training 
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										traditional musical
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										personal consert
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-arrow-circle-right"></i>
										</span>
										modern musical
									</li>

								</ul>
							</div>
							<div class="text-left">
								<a href="#!" class="conference-btn">View more</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->
				</div>
				<!-- service-wrapper - end -->

			</div>
		</section>
		<!-- service-section - end
		================================================== -->








	</div>
</section>