<section id="previous-events" class="pt-3 clearfix mobile-space">

	<div class="mb-15" style="margin-bottom: 0;">

		<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url(https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center">
									<span class="sub-title">TTN Services</span>
									<h2 class="big-title">What we are offering</h2>
								</div>
								<!-- breadcrumb-title - end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->

		<!-- service-section - start
		================================================== -->
		<section id="service-section" class="service-section sec-ptb-100 clearfix">
			<div class="container">

				<!-- service-wrapper - start -->
				<div class="service-wrapper">

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
							<div class="">
								<img src="assets/images/magazine.jpg" alt="" class="thumbnail-img">
							</div>
						</div>
						<div class="service-content float-right">
							<div class="service-title">
								<h2 class="title-text">Monthly <strong>Print Magazine</strong></h2>
							</div>
							<p class="service-description black-color">
							Distributed nationally at service centers, dealerships, truck stops, repair shops, parts and sales centers and many more. 
							</p>
							<div class="text-left">
								<a href="https://thetruckingnetwork.ca/" target="_blank" class="conference-btn">View Magazine</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->
					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-right">
							<img src="assets/images/inperson-jobfair.jpg" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-right">
							<div class="service-title ">
								<h2 class="title-text">In-person <strong>Job Fair</strong></h2>
							</div>
							<p class="service-description black-color ">
							 Job fair events across Ontario and Alberta throughout the year with 100+ exhibitors and attendees in thousands
							</p>
							<div class="text-left">
								<a href="https://www.thetruckingnetworkevents.ca/" target="_blank" class="conference-btn">View more</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->
					
					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
							<img src="assets/images/virtual-job-fair.jpg" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-right">
							<div class="service-title">
								<h2 class="title-text">Virtual <strong>Job Fair</strong></h2>
							</div>
							<p class="service-description black-color">
							A new service starting July 8th 2020, in order to meet hiring needs and get right opportunities for right candidates.
							</p>
							<div class="text-left">
								<a href="https://www.thetruckingnetworkevents.ca/" target="_blank" class="conference-btn">View job fair</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->
					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-right">
							<img src="assets/images/webinar-banner.jpg" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-right">
							<div class="service-title">
								<h2 class="title-text">Webinars </h2>
							</div>
							<p class="service-description black-color">
							We started webinars in June 2020 and it has been very well accepted and lots of interest, hence now we are offering this as a service. So come and join us.
							</p>
							<div class="text-left">
								<a href="https://www.thetruckingnetworkevents.ca/" target="_blank" class="conference-btn">View Webinars</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->
	<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
							<img src="assets/images/magazine.jpg" alt="" class="thumbnail-img">
						</div>
						<div class="service-content float-left">
							<div class="service-title">
								<h2 class="title-text">Monthly <strong>Digital Magazine </strong></h2>
							</div>
							<p class="service-description black-color">
							Published online, promoted to well known social media platforms and sent to subscribers via emails.
							</p>
							<div class="text-left">
								<a href="https://thetruckingnetwork.ca/" target="_blank" class="conference-btn">View Magazine</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->

				
				</div>
				<!-- service-wrapper - end -->

			</div>
		</section>
		<!-- service-section - end
		================================================== -->








	</div>
</section>