
<section id="previous-events" class="pt-3 clearfix mobile-space">

	<div class="mb-15" style="margin-bottom: 0;">

		<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url(https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center">
									<span class="sub-title">Previous Event</span>
									<h2 class="big-title">Mega Job Fair Event, 07 Mar 2020</h2>
								</div>
								<!-- breadcrumb-title - end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->





		<!-- event-gallery-section - start
		================================================== -->
		<section id="event-gallery-section" class="event-gallery-section sec-ptb-100 clearfix">
			<div class="container">

				<div class="button-group filters-button-group mb-30">
					<button class="button is-checked" data-filter="*">
						<i class="fas fa-star"></i>
						<strong>all</strong> gallery
					</button>
					<button class="button" data-filter=".video-gallery">
						<i class="fas fa-play-circle"></i>
						<strong>video</strong> gallery
					</button>
					<button class="button" data-filter=".photo-gallery">
						<i class="far fa-image"></i>
						<strong>photo</strong> gallery
					</button>
				</div>

				<div class="grid zoom-gallery clearfix mb-80" data-isotope="{ &quot;masonry&quot;: { &quot;columnWidth&quot;: 0 } }">
				<div class="grid-item  photo-gallery " data-category="photo-gallery">
					<a class="popup-link" href="https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg">
						<img src="https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg" alt="Image_not_found">
					</a>
					<div class="item-content">
						<h3>John Doe Wedding day</h3>
						<span>Wedding Party, 24 June 2016</span>
					</div>
				</div>
				<div class="grid-item  video-gallery " data-category="video-gallery">
					<a class="popup-youtube" href="https://youtu.be/-haiaZ011OM">
						<img src="https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg" alt="Image_not_found">
					</a>
					<div class="item-content">
						<h3>Business Conference in Dubai</h3>
						<span>Food Festival, 24 June 2016</span>
					</div>
				</div>
				<div class="grid-item  photo-gallery " data-category="photo-gallery">
					<a class="popup-link" href="https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg">
						<img src="https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg" alt="Image_not_found">
					</a>
					<div class="item-content">
						<h3>John Doe Wedding day</h3>
						<span>Wedding Party, 24 June 2016</span>
					</div>
				</div>
				<div class="grid-item  video-gallery " data-category="video-gallery">
					<a class="popup-youtube" href="https://youtu.be/-haiaZ011OM">
						<img src="https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg" alt="Image_not_found">
					</a>
					<div class="item-content">
						<h3>Business Conference in Dubai</h3>
						<span>Food Festival, 24 June 2016</span>
					</div>
				</div>
				<div class="grid-item  photo-gallery " data-category="photo-gallery">
					<a class="popup-link" href="https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg">
						<img src="https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg" alt="Image_not_found">
					</a>
					<div class="item-content">
						<h3>John Doe Wedding day</h3>
						<span>Wedding Party, 24 June 2016</span>
					</div>
				</div>
				<div class="grid-item  video-gallery " data-category="video-gallery">
					<a class="popup-youtube" href="https://youtu.be/-haiaZ011OM">
						<img src="https://www.thetruckingnetworkevents.ca/uploads/images/Skype_Picture_2020_03_10T16_54_28_563Z-compressed.jpg" alt="Image_not_found">
					</a>
					<div class="item-content">
						<h3>Business Conference in Dubai</h3>
						<span>Food Festival, 24 June 2016</span>
					</div>
				</div>
				
			</div>
			</div>
		</section>
		<!-- event-gallery-section - end
		================================================== -->



	</div>
</section>