<section id="" class="pt-3 pb-5 clearfix mobile-space event-section">
    <div class="container">

        <div class="row">
            {{#if error}}
                <p>{{error}}</p>
            {{else}}
                {{!-- Reset password --}}
                <div class="col-md-6 m-auto">
                    <div class="whiteboxbg">
                        <h2 class="form-title title-large mb-2"><strong>Reset Password</strong></h2>
                        <div class="login-form text-center mb-15">
                            <form id="change-password">
                                <div class="form-item mt-4">
                                    <input type="password" placeholder="New Password" value="" name="password">
                                </div>
                                <div class="form-item mt-4">
                                    <input type="password" placeholder="Confirm Password" value="" name="confirm_password">
                                </div>
                            </form>
                                <div class="col-md-6 m-auto">
                                    <p id="change-password-message"></p>
                                    <button type="button" class="button-red mt-4 change-password">Set New Password</button>
                                </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{!--Reset password end--}}
        </div>

    </div>
</section>