<section class="terms" class="pt-3 pb-5 clearfix mobile-space" style="margin-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Terms & Conditions</h2>
        <p>Terms and conditions Annual Dinner event - The Trucking Network Inc.</p>
        <ul>
          <li>
            Defination
            <ul>
              <li>Client:
                <span>The Client who has assigned us with the task and/or the participants in the Event.</span>
              </li>
              <li>Event:
                <span>The actual occurrence of the networking dinner event referred as “Annual Dinner”, Mega Job Fair Event & Big Rig Expo.</span>
              </li>
              <li>Participants:
                <span>The participants to the Event, as recruited/registered by the Client</span>
              </li>
              <li>we:
                <span>The Trucking Network, a company registered at 4325 Idlewilde Cres, Mississauga, ON L5M4E2, Canada</span>
              </li>
            </ul>
          </li>
          <li>
            Applicability
            <span>All bookings accepted by us and arrangements made by us are subject to these terms and conditions. Our terms and conditions prevail over the terms and conditions of the Client.</span>
          </li>
          <li>
            Obligations to the Client
            <span>We act as an event organizer. We are not the direct supplier of any accommodation and activities which make up your travel arrangements, unless agreed otherwise. We are obliged and commit ourselves to carry out the event in a responsible manner. We do not arrange transportation of persons or goods from client location to the event or vice versa.</span>
          </li>
          <li>
            Obligations of the Client
            <span>The Client will inform the Participants before participation in the Event that they have to behave in a responsible manner during all activities so as to uphold our good name and reputation. We hold the right to cancel the Event or elements thereof in the event that the Participants do not adhere to any warnings issued by us or our members. In such case, the Client will be held fully responsible for payment of the activity as well as for potential damages and consequently no refund will be payable to the Client.</span>
            <ul class="bold">
              <li>restrictions on the use of drugs;</li>
              <li>the observance of instructions during the Event;</li>
              <li>the physical suitability for participation in the Event;</li>
            </ul>
          </li>
          <li>
            Cancellation and alteration
            <span>In the event the Client cancel the Event cancellation fees will be charged as follows:</span>
            <ul class="bold">
              <li>More than 30 business days of the event – Full Refund</li>
              <li>More than 20 business days of the event – 50% Refund</li>
              <li>With in 20 business days of the event – No Refund</li>
            </ul>
            <p>All cancellations must be received in writing via email or fax and the date of cancellation is that upon which written cancellation is received by us.</p>
            <p class="bold">In the event the number of Participants in an Event will be reduced, the initial total cost will only be reduced to a maximum of 20%, regardless the actual number of decrease in Participants.  </p>
          </li>
          <li>Invoicing and payment conditions
            <ul>
              <li>The Client will ensure that our invoice is paid with in 10 business days of the reservation.</li>
              <li>In the event that the reservation  is issued in  less than 10 days before the date that the Event takes place, the invoice must be paid immediately.</li>
              <li>If payment has not been received on the day before the Event is due to take place, we hold the right to cancel the Event. All costs incurred in relation to such cancellation will be payable by the Client.</li>
              <li>In all circumstances, if payment has not been received ultimately the day before the Event takes place, a 5% fine over the total outstanding amount will become due.</li>
            </ul>
          </li>
          <li>Responsibility/Liability
            <ul>
              <li>In spite of our careful selection of participants, we cannot be held responsible for the execution of the Event by the external agent/supplier(s). More specifically, we cannot be held liable for any other damage than direct damage suffered by the Client, if proven to be as a result of our gross negligence or our willful misconduct</li>
              <li>We cannot be held liable for any damages of whatsoever nature, property loss, injuries or death caused or suffered by a Participant who was under influence of alcohol or any other drugs.</li>
              <li>We cannot be held liable for any damages of whatsoever nature, property loss, injuries or death caused or suffered by a Participant who did not follow up instructions and safety guidelines instructed by us or our supplier.</li>
              <li>The Client will indemnify us for claims from third parties with respect to damages to companies or individuals brought about by a Participant to the Event. The Client will reimburse us for all costs incurred in relation to any damages brought about by a Participant.</li>
            </ul>
          </li>
          <li>
            Circumstances outside our control
            <ul>
              <li>We will not be held liable in the event that an Event or part of an Event cannot take place due to circumstances outside our control, such as, but not limited to cancellation of the Event by the party contracted by us </li>
              <li>In the event that an Event or part of an Event cannot be carried out, we will do our utmost to find a suitable alternative for the Client. If such alternative incurs extra costs, we will first consult with the Client and only proceed after the Client’s written approval.</li>
              <li>In the event that an Event or part of an Event arranged by us cannot take place due to circumstances outside our control, we hold the right to postpone or cancel our event without any legal or financial liability towards the Client or any third party unless stated by law. In such case, the agreed financial and/or legal liability rests with the Client.</li>
            </ul>
          </li>
          <li>Applicable law
            <ul>
              <li>The Client recognizes that the Event is held at Brampton, ON, or Hamilton, ON or Calgary, Alberta and is therefore covered under CANADIAN LAW. The assigned court will be the COURT  in Brampton, Hamilton &  CALGARY.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>