.mainmenu-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.nav-link {
    color: #000;
    position: relative;
}

.login:after {
    position: absolute;
    right: 0;
    top: 0;
    content: '|';
    color: #2968e7;
}

.bluecolor {
    color: #2968e7 !important;
}

.slider-head {
    font-size: 48px;
    color: #c83538;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.truck {
    background: url(../images/truck-register.svg) center no-repeat;
    background-size: 170px 60px;
}

.slider-head span {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.slider-content h2 {
    font-size: 24px;
    color: #fff;
}

.slider-content h3 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.slider-content h4 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.main-carousel2 .item .slider-content .date {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}

.main-carousel2 .item .slider-content .time {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 15px;
}

.button-red {
    font-weight: 400;
    padding: 8px 25px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    font-size: 12px;
    background: #c83538;
    border: 1px solid #c83538;
    position: relative;
    z-index: 2;
}

.button-red:hover {
    background: #fff;
    color: #c83538;
    border: 1px solid #ccc;
}

.width-215 {
    max-width: 215px;
    margin: 0 auto;
}

.content-events {
    background: #fbfbfb;
    padding: 15px;
}

.register-bt {
    height: 50px;
    width: 120px;
    font-weight: 600;
    font-size: 15px;
}

.divider {
    position: relative;
}

.divider:before {
    width: 1px;
    height: 140px;
    content: '';
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
}

.slider-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-carousel2 .slick-prev {
    top: 85% !important;
    left: 50%;
    margin-left: -40px;
}

.main-carousel2 .slick-next {
    top: 85% !important;
    right: 50%;
    margin-right: -44px;
}


/* .register-now {
    width: 100%;
    margin-top: -46px;
}

.register-now a {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: -6px -8px 0px 2px rgba(0, 0, 0, 0.15);
} */

.social-links li a {
    color: #cc0b0f !important;
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links li a:hover {
    color: #fff !important;
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: #cc0b0f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactus {
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
}

.contactus p,
.contactus a {
    font-size: 14px;
    color: #fff;
}

.contactus a:hover {
    font-size: 14px;
    color: #cc0b0f;
}

.footer-head {
    font-size: 14px;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding-bottom: 5px;
    color: #fff;
    margin-bottom: 10px;
}

.site-logo-wrapper {
    text-align: center;
}

.address {
    font-size: 14px;
    color: #fff;
    text-align: left;
}

ul.social-media-gray {
    display: flex;
    margin: 0 !important;
    padding: 0;
}

.social-media-gray li {
    list-style: none;
    /* padding: 0 5px; */
    margin: 0 10px;
    list-style: none;
    position: relative;
    /* padding-right: 30px; */
    display: inline-block;
}

.social-media-gray li a {
    color: #a5a5a9;
    font-size: 15px;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-gray li a:hover {
    color: #fff !important;
    font-size: 15px;
    background: transparent;
}

.instagram-wrapper img {
    filter: brightness(0) invert(1);
}

.social-media-gray li a:before {
    display: none;
}

.event-image img {
    width: 100%;
}

.post-date {
    background: #c83538 !important;
    /* background: -moz-linear-gradient(45deg, #c83538 0%, #343538 100%) !important;
    background: -webkit-linear-gradient(45deg, #c83538 0%, #343538 100%) !important;
    background: linear-gradient(45deg, #c83538 0%, #343538 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c83538', endColorstr='#343538', GradientType=1) !important; */
}

.event-section {
    background-image: url(../images/event-right-bg.png), url(../images/event-left-bg.png);
    background-position: right top, left bottom;
    background-repeat: no-repeat;
}

.event-section .tab-content .event-item2 .event-content .event-title:after {
    background-color: #bdbebe !important;
}

.section-title .big-title {
    color: #737476;
}

.post-share {
    top: 10px;
    right: 10px;
    z-index: 1;
    height: 40px;
    padding: 10px;
    width: 40px;
    text-align: center;
    position: absolute;
    background: #fff;
    border-radius: 50%;
}

.no-shadow {
    box-shadow: none !important;
}

.ticket-price {
    font-size: 12px;
    max-height: 64px;
    overflow: hidden;
    white-space: pre-line;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.post-events {
    color: #2968e7 !important;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 25px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.post-events:hover {
    color: #c83538 !important;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
}

.why-attend {
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cccccc+0,ffffff+27 */
    background: #e4e4e4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e4e4e4 0%, #ffffff 27%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e4e4e4 0%, #ffffff 27%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e4e4e4 0%, #ffffff 27%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

.why-attend h2 {
    font-size: 38px;
    color: #737476;
    margin-bottom: 20px;
}

.why-attend h2 strong {
    font-size: 38px;
    color: #c83538;
}

.attend-content {
    font-size: 14px;
    text-align: center;
    line-height: 2;
    margin-bottom: 50px;
}

.content-over {
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.box-attend {
    cursor: pointer;
    padding: 20px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.box-attend h3 {
    font-size: 20px;
    margin: 15px 0;
}

.box-attend .black-color {
    min-height: 210px;
}

.box-attend:hover .content-over {
    display: block;
}

.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse {
    padding: 30px;
}

.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul {
    margin: 0px;
    width: 100%;
    padding: 0px;
    display: table;
}

.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li {
    /* float: left; */
    width: 20%;
    list-style: none;
    margin-right: 25px;
    display: inline-block;
}

.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li:last-child {
    margin-right: 0px;
}

.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li input,
.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li select {
    width: 100%;
    height: 50px;
    display: block;
    font-weight: 700;
    padding: 0px 20px;
    border-radius: 5px;
    color: #333333;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #f0f0f0;
    background-color: #f7f7f7;
}

.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li input:focus,
.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li select:focus {
    outline: none;
    border-color: #cc0b0f;
}

.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li select {
    -webkit-appearance: none;
    /* text-transform: uppercase; */
    background: #f7f7f7 url(../images/black-arrow.png) no-repeat right 20px center;
}

.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li .custom-btn {
    width: 100%;
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
}

.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li .custom-btn:after,
.absolute-eventmake-section .eventmaking-wrapper .tab-content .collapse ul li .custom-btn:before {
    border-radius: 5px;
}

.addeventatc {
    color: #2968e7 !important;
}

.forgot {
    text-align: left;
}

.forgot a {
    font-size: 14px;
    color: #333333 !important;
    padding-left: 30px;
}

.forgot a:hover {
    font-size: 14px;
    color: #cc0b0f !important;
    padding-left: 30px;
}

.greycolor {
    color: #333;
    line-height: 1.5;
}

#relationships .modal-dialog,
#keep-uptodate .modal-dialog,
#new-ideas .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
    font-size: 14px;
}

.modal-dialog .close {
    font-size: 50px;
    font-weight: 100;
    /* margin-right: 10px; */
    width: 40px;
    height: 40px;
    /* float: right; */
    position: absolute;
    right: 10px;
    top: -10px;
    color: #cc0b0f;
    z-index: 2;
}

.share-events {
    font-size: 14px;
    justify-content: start;
    align-items: center;
    display: flex;
    height: 40px;
}

.share-events a {
    font-size: 14px;
    color: #2968e7 !important;
}

.shareall .dropdown-menu {
    padding: 10px;
    background: #fff !important;
}

.print-events {
    font-size: 16px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 40px;
}

.print-events a {
    font-size: 16px;
    color: #c83538 !important;
}


/* register page */

.register-form {
    /* background: #fbfbfb; */
    padding: 15px;
}

.fa-info-circle {
    color: #acacac;
}

.register-form form {
    width: 100%;
}

.register-title {
    font-size: 26px;
}

.formrow {
    width: 100%;
    /* margin: 10px 0; */
}

.formrow label.string {
    margin-bottom: 0;
    font-size: 14px;
    display: none;
}

.formrow input {
    width: 100%;
    border: none;
    height: 50px;
    display: block;
    padding: 0px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
}

.formrow input:focus {
    outline: none;
}

.agree_text {
    font-size: 12px;
    width: 100%;
    display: block;
}

.check-full {
    padding: 15px;
}


/* mobile menu */

.nav-link.active {
    color: #cc0b0f;
    border-bottom: 2px solid #cc0b0f;
}

.navbar-expand-md .navbar-nav .nav-link {
    font-size: 15px;
    padding: 0 0.8rem;
}

.navbar-nav .nav-link:last-child {
    padding-left: 0 !important;
}

.avatar:after {
    display: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(165,165,169, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: #a5a5a9;
}

.dropdown-menu {
    background: none !important;
    border: none !important;
}

.dropdown-item {
    padding: 10px;
    clear: both;
    color: #212529;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    display: block;
    text-align: left;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
    color: #cc0b0f !important;
}


/* register form */

.jobseeker-btn {
    width: 35px;
    height: 35px;
    background: url(../images/seeker.png) left top no-repeat;
}

.exhibitor-btn {
    width: 35px;
    height: 35px;
    background: url(../images/exhibition.png) left top no-repeat;
}

.register .nav-item i {
    margin-right: 10px;
}

.register .nav-item .active i,
.register .nav-item:hover i {
    background-position: left bottom;
}

#register-section {
    background: url(../images/truck.png) right 60% no-repeat;
}

.register {
    /* background: -webkit-linear-gradient(left, #4a4a4e, #c3c3c3);
    margin-top: 3%;
    padding: 3%; */
}

.register h2 {
    text-transform: none;
}

.register p {
    color: #63615d;
    font-size: 18px;
}

.register h3 {
    color: #000;
    font-size: 20px;
}

.register-right {
    margin-bottom: 60px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
}


/* .register-right:after {
    position: absolute;
    content: '';
    width: 30%;
    height: 626px;
} */

.register .register-form {
    margin-top: 10%;
    /* border: 1px solid red; */
    width: 100%;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #cc0b0f;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register .nav-tabs {
    margin: 0 0 30px 0;
    border: none;
    background: #fff;
    width: 100%;
    float: left;
}

.register .nav-item {
    flex-grow: inherit;
    flex-basis: inherit;
}

.register .nav-tabs .nav-link {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 20px;
    color: #716f6c;
    border: 1px solid #8a8986;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.register .nav-tabs .nav-link:hover {
    border: 1px solid #cc0b0f;
    color: #cc0b0f;
    background: #fcf7f7;
}

.register .nav-tabs .nav-link.active {
    color: #cc0b0f;
    border: 1px solid #cc0b0f;
    background: #fcf7f7;
}

.register .tab-content .tab-pane {
    /* margin-top: 30px; */
}

.register-heading {
    text-align: left;
    color: #000;
    margin-top: 30px;
    text-transform: none;
}

.form-box {
    display: flex;
    flex-wrap: inherit;
}

.form-box span {
    color: #cc0b0f;
    font-size: 18px;
}


/* register end */


/* Plans pages */

.alertbox {
    background: rgba(41, 104, 231, 0.2);
    text-align: center;
    padding: 20px 10%;
    color: #000;
    font-size: 15px;
    margin: 20px 0;
}

.alertbox a {
    color: #2968e7;
}

.plan-heading {
    background: #f6f6f6;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.plan-heading h2 {
    font-size: 30px;
    margin: 0;
}

.plan-heading h3 {
    font-size: 22px;
    margin: 0;
}

.border-gray {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 150px;
    padding: 10px;
}

.other-item {
    width: 100%;
}

.other-item .sub-heading {
    font-size: 14px;
    color: #777;
    /* font-weight: bold; */
}

.other-item h3 {
    font-size: 18px !important;
    font-weight: bold;
}

.price-text-color {
    font-size: 24px;
    font-weight: bold;
}


/* 
.carousel-item.active,
.carousel-inner {
    display: flex !important;
    justify-content: center !important;
} */


/* Slider */

.slick-slide {
    margin: 20px;
}

#main-carousel2 .slick-slide {
    margin: 0px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.numbers-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers-row input {
    width: 60px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
    color: #000;
    font-size: 18px;
}

.inputbutton {
    font-size: 40px;
    font-weight: 400;
    color: #a7a7a7;
    line-height: 0;
    cursor: pointer;
}

.customer-logos ul {
    margin: 0;
    padding: 0;
    min-height: 220px;
}

.customer-logos li,
.otheruser li {
    font-size: 14px;
    list-style: none;
    margin: 5px 0;
}

.customer-logos h3 {
    font-size: 34px;
    font-weight: bold;
    margin: 5px 0 40px;
}

.customer-logos h5 {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0 0px;
}

.customer-logos h6 {
    font-size: 14px;
    font-weight: bold;
}

.customer-logos h5 span {
    font-size: 20px;
    font-weight: 600;
}

.customer-logos .col-item,
.otheruser .col-item {
    cursor: pointer;
    padding: 20px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.customer-logos .col-item:hover,
.otheruser .col-item:hover {
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: #ccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next {
    right: 0;
}


/* Plans pages end */


/* checkout page */

.cart-item {
    margin: 30px 0;
    cursor: pointer;
    padding: 20px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.cart-item:hover {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
}

.cart-item h3 {
    font-size: 34px;
    font-weight: bold;
    margin: 0;
}

.remove-box img {
    width: 16px;
}

a.remove {
    color: #514f4f;
    font-size: 12px;
}

.package-details {
    font-size: 24px;
    margin-top: 30px;
    color: #000;
}

.gift-box {
    font-size: 12px;
    background: #e9f0fd;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    display: flex;
}

.gift-box img {
    margin-right: 10px;
}

.sub-total {
    line-height: 2;
    color: #000;
}

.total {
    margin-top: 10px;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.continueshopping {
    font-size: 14px;
}

.cart {
    width: 30px;
    height: 30px;
    background: url(/assets/images/cart.png) left bottom no-repeat;
    position: relative;
    margin: 0 20px;
}

.cart-value {
    width: 20px;
    height: 20px;
    text-align: center;
    background: #4f83eb;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    background: url(/assets/images/avatar.png) left top no-repeat;
}


/* checkout pageend  */


/* Payment page */

.payment {
    color: #000;
    padding: 20px 0;
    font-size: 18px;
}

.payment h4 {
    font-size: 22px;
}

.payment strong {
    display: inline;
}

.cart-itembox {
    width: 100%;
    color: #000;
    margin: 0;
    cursor: pointer;
    padding: 20px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.amountdue {
    font-size: 30px;
    font-weight: 600;
}

.invoice {}

.payment-method {
    flex-wrap: wrap;
    justify-content: start;
}

.payment-method a {
    margin: 25px;
}

.totolamt {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

#payment {
    color: #c83538;
    cursor: pointer;
}

.thankyou h4 {
    color: #28a745;
    font-size: 30px;
}

.error h4 {
    color: #c83538;
}


/* Payment page end*/


/* Reset password  */

.whiteboxbg {
    padding: 20px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.login-form .form-item input {
    width: 100%;
    border: none;
    height: 50px;
    display: block;
    padding: 0px 30px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
}

.login-form .form-item input:focus {
    outline: none;
}

.login-form .login-btn {
    width: 100%;
    height: 50px;
    font-weight: 700;
    padding: 0px 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 30px;
    /* text-transform: uppercase; */
    background-color: #c83538;
}


/* Reset password end */


/* profile page */

.profile-nav h5 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

.profile-nav a {
    color: #4f83eb;
}

.upload-btn-wrapper .upload-resume {
    position: absolute;
    right: 20px;
    bottom: 4px;
    opacity: 1;
    background: #4f83eb;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    padding: 3px 15px;
}


/* profile page end */

.error-message p {
    /* background: #dc3445; */
    color: #dc3445;
    padding: 5px;
}

.form-control:focus {
    border-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .25);
}

.post-share img {
    height: auto !important;
}

.shareall a {
    margin: 0 10px;
    font-size: 14px;
}

.shareall .dropdown-menu a {
    margin: 0;
    font-size: 14px;
    width: 100%;
    background: #fff;
    color: #dc3445;
    padding: 6px 0;
}

.shareall .dropdown-menu a:hover {
    color: #000 !important;
}

.event-image .dropdown-menu {
    margin-left: 30px;
}

.event-image .dropdown-menu {
    background: #fff !important;
}

.event-image .dropdown-menu a {
    /* padding-left: 30px; */
    padding: 10px;
}

.organized {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.absolute .icon {
    position: absolute;
}


/* new design banner */

.main-banner {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    z-index: -1;
    background: #efefef;
    overflow: hidden;
    max-height: 470px;
}

.bg-img img {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-filter: blur(50px) brightness(.9);
    -ms-filter: blur(50px) brightness(.9);
    filter: blur(50px) brightness(.9);
    display: inline-block;
    width: 200%;
    position: relative;
    top: 50%;
    left: 50%;
}

.sidebar-section {
    /* background: #d2d6da; */
    min-height: 380px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-section .shareall .dropdown-menu {
    width: 200px;
}

.no-events {
    text-align: center;
    color: #fff;
    width: 100%;
}

.partner-box {
    height: 120px;
}

.align-self-center a {
    color: #63615d;
}

.bg-white {
    background: #fff;
    padding-top: 15px;
}

.bg-white .col-lg-8 {
    /* padding-right: 5px; */
}

.bg-white .col-lg-4 {
    /* padding-left: 5px; */
}

.bg-gray {
    background: #d2d6da;
}

.bg-gray .event-date {
    /* padding: 10px; */
    font-size: 36px;
    font-weight: normal;
    text-align: left;
}

.virtual-detail-banner {
    max-height: 380px;
    overflow: hidden;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
}

.event-title a {
    color: #343538;
}

.event-title span {
    font-size: 14px;
    color: #272727;
    font-weight: normal;
}

.ticket-box {
    display: flex;
    justify-items: end;
    width: 100%;
    flex-direction: column;
}

.ticket-box .price {
    font-size: 18px;
    color: #272727;
    width: 100%;
    margin-bottom: 20px;
}

.no-bg {
    background: none;
}

.bg-white a.button-red {
    padding: 10px 0;
    height: 50px;
    font-size: 22px;
}


/* 
.main-banner .item img {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-filter: blur(50px) brightness(.9);
    -ms-filter: blur(50px) brightness(.9);
    filter: blur(50px) brightness(.9);
    display: inline-block;
    width: 200%;
    position: relative;
    top: 50%;
    left: 50%;
} */


/* checkout page */

.checkout-popup {
    width: 95%;
    height: 95%;
    max-width: 1080px;
    max-height: 720px;
    background: #fff;
}

.event-modal__header {
    position: relative;
    z-index: 1;
    flex: none;
    min-height: 52px;
    flex-direction: column;
}

.eds-text--truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.eds-modal__title {
    width: inherit;
    box-sizing: border-box;
    padding-left: 44px;
    padding-right: 44px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.date-price {
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    width: 100%;
}

.eds-modal__title-spacing {
    margin-top: 11px;
}

.eds-modal__main {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    min-height: 0;
}

.eds-modal__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex: 1 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.eds-modal__content__children {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}

.eds-modal__footer-background {
    border-top: 1px solid #eeedf2;
    background-color: #fff;
    width: 100%;
    z-index: 5;
    box-shadow: 0 -18px 50px 0 hsla(0, 0%, 100%, .8);
}

.title-content {
    width: 100%;
}

.title-content h6 {
    font-weight: bold;
}

.like-event {
    font-size: 25px !important;
    margin-top: 9px !important;
    height: 40px;
    /* padding: 10px; */
    width: 40px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* checkout page end*/


/* virtual event slider */

#virtual-event-section .slick-track {
    margin-left: inherit !important;
}

#virtual-event-section .slick-slide {
    margin: 20px 20px 0;
}

.event-section .tab-content .event-item3 {
    margin-bottom: 30px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
}

.event-section .tab-content .event-item3 .event-image {
    /* overflow: hidden; */
    position: relative;
    line-height: 1;
}

.event-section .tab-content .event-item3 .event-image img {
    height: 120px;
}

.event-section .tab-content .event-item3 .event-image .post-date {
    top: 15px;
    left: 15px;
    z-index: 1;
    width: 55px;
    height: 55px;
    padding: 5px;
    text-align: center;
    position: absolute;
    color: #ffffff;
}

.event-section .tab-content .event-item3 .event-image .post-date .date {
    font-weight: 600;
    font-size: 20px;
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Raleway', sans-serif;
}

.event-section .tab-content .event-item3 .event-image .post-date .month {
    font-size: 16px;
    text-transform: uppercase;
}

.event-section .tab-content .event-item3 .event-content {
    padding: 20px 15px;
    /* min-height: 277px; */
}

.event-section .tab-content .event-item3 .event-content .event-title {
    position: relative;
}

.event-section .tab-content .event-item3 .event-content .event-title:after {
    top: 0;
    width: 3px;
    left: -15px;
    bottom: 0px;
    content: '';
    height: 100%;
    position: absolute;
    background-color: #c83538;
}

.event-section .tab-content .event-item3 .event-content .event-title .title a {
    /* margin: 0px;
    font-weight: 900;
    color: #343538;
    font-size: 18px; */
    margin: 0px;
    font-weight: 700;
    color: #343538;
    font-size: 16px;
    margin-bottom: 10px;
    height: 38px;
    /* white-space: pre-line; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.event-section .tab-content .event-item3 .event-content .event-post-meta ul li {
    margin-bottom: 15px;
    font-size: 16px;
    position: relative;
    padding-left: 30px;
    color: #272727;
}

.event-section .tab-content .event-item3 .event-content .event-post-meta ul li .icon {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-right: 3px;
    text-align: center;
    border-radius: 100%;
    color: #ffffff;
    font-size: 12px;
    background-color: #c83538;
    position: absolute;
    left: 0;
    top: 0;
}

.event-section .tab-content .event-item3 .event-content .tickets-details-btn {
    z-index: 1;
    font-weight: 600;
    overflow: hidden;
    padding: 15px 45px;
    position: relative;
    border-radius: 30px;
    color: #878787;
    font-size: 14px;
    text-transform: uppercase;
    background: #f7f7f7;
}

.event-section .tab-content .event-item3 .event-content .tickets-details-btn:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, right bottom, from(#ff3e00), to(#c83538));
    background: -webkit-linear-gradient(top left, #ff3e00, #c83538);
    background: -o-linear-gradient(top left, #ff3e00, #c83538);
    background: linear-gradient(to bottom right, #ff3e00, #c83538);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.event-section .tab-content .event-item3 .event-content .tickets-details-btn:hover {
    color: #ffffff;
    background: #c83538;
}

.event-section .tab-content .event-item3 .event-content .tickets-details-btn:hover:before {
    opacity: 1;
}

.event-section .tab-content .event-item3:hover {
    /* border-color: #c83538; */
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.35);
}

.event-section .tab-content .pagination ul {
    margin: 0px auto 0px;
}


/* virtual event slider end */

#newsletter {
    background: #ececec;
    margin-bottom: 1px;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.subscribe h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.subscribe input {
    margin: 0 0px;
    width: 100%;
    background: none;
    border: 1px solid #666;
    padding: 5px 10px;
}

.about-img {
    margin-bottom: 20px;
    border: 6px solid #d6d6d6;
}

.black-color {
    font-size: 14px;
}

.section-title h2 strong,
.title-text strong {
    color: #c83538;
}

.title-text {
    font-size: 24px;
}

#faq .card {
    border: none;
}

#faq .card-body {
    background: #f9f9f9;
    font-size: 14px;
}

#faq .card-header {
    padding: 0;
    background: none;
}

#faq .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 20px;
    color: #000;
    text-decoration: none;
}

#faq .fa {
    float: right;
}


/* previous event page */

.recentevent-block {
    background: url(../images/previous-event-bg.jpg);
    background-size: cover;
    padding: 20px 0 60px 0;
}

.recentevent-block h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0 10px;
    margin-top: 20px;
    overflow: hidden;
    white-space: no-wrap;
    text-overflow: ellipsis;
}

.recentevent-block .carousel-inner {
    text-align: center;
}

.recentevent-block .carousel-inner img {
    border: 8px solid #4a5c71;
}

.white-title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 25px 0;
}

.embed-responsive {
    border: 8px solid #4a5c71;
}

.grid-item img {
    width: 350px;
    height: 250px;
}

.recentevent-block .nav a {
    border: none;
    padding: 18px 25px;
    color: #c83538;
    background: #fff;
    border-radius: 0;
}

.recentevent-block .nav a.active {
    background: #c83538;
    color: #fff;
}

.previous-event-tab-menu {
    display: flex;
    justify-content: center;
    position: relative;
}

.previous-event-tab-menu .nav {
    background: #fff;
}


/* previous event page end */

#partners-carousel .owl-item {
    border: 1px solid #ccc;
    overflow: hidden;
}

.font15 a,
.font15 {
    font-size: 15px !important;
}

#partners-carousel .owl-nav {
    display: none;
}

#partners-carousel .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: inherit !important;
}


/* service page */

.thumbnail-img {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
}

.content-events a {
    word-break: break-all;
}


/* service page end*/

.border-red {
    border-color: #dc3445 !important;
}

.text-color-red {
    color: red;
}


/* 

@media (max-width:767px) {
    .navbar {
        flex-grow: auto;
    }
    .mainmenu-wrapper {
        justify-content: normal;
    }
    .mainmenu-wrapper .row {
        width: 100%
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer;
        width: 40px;
        height: 30px;
        font-size: 16px;
        padding: 0;
    }
    .mobile-space {
        margin-top: 110px;
    }
    .default-footer-section .footer-top .instagram-wrapper ul {
        display: block;
        width: 100%;
    }
    .instagram-wrapper {
        text-align: center;
    }
    .default-footer-section .footer-top .instagram-wrapper ul li {
        width: 100%;
        height: inherit;
        margin: 5px;
    }
    .sidebar-section .location-wrapper .contact-links {
        padding: 10px 10px 30px;
    }
    .register .nav-tabs .nav-link {
        font-size: 15px;
    }
    .alertbox {
        font-size: 15px;
    }
    .plan-heading {
        padding: 5px;
    }
    .plan-heading h2 {
        font-size: 30px;
    }
    .cart-item {
        position: relative;
        ;
    }
    .cart-item .col-md-3 {
        position: unset;
    }
    .package-details h4 {
        font-size: 18px;
    }
    .remove {
        position: absolute;
        right: 7px;
        top: 9px;
        width: 16px;
        overflow: hidden;
        height: 20px;
    }
    .sub-head {
        display: none;
    }
    .cart-itembox {
        text-align: center;
    }
}

.border-red {
    border-color: #dc3445 !important;
}

.text-color-red {
    color: red;
} */

.icons {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.width1000 {
    max-width: 1000px;
}

.scroller {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}

#virtual-event-section .tab-content {
    text-align: left;
}

.scroller p {
    font-size: 14px !important;
    color: #000 !important;
}

.scroller li {
    font-size: 14px !important;
}

.redtxt {
    color: #c83538;
}

.know-text {
    font-size: 14px;
}

.know-tab-menu {
    padding: 15px 0;
}

.know-tab-menu .nav li a {
    margin: 5px 15px;
    font-size: 16px;
    color: #000;
}

.know-tab-menu .nav li a.active {
    color: #c83538;
    border-bottom: 2px solid #c83538;
}

#partners-carousel .item {
    padding: 10px;
    width: 100%;
    height: 90px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#partners-carousel .item .expertise-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#partners-carousel .item .expertise-item .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 100%;
}

#partners-carousel .plus-effect span {
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 12px;
    padding: 5px;
}

#partners-carousel .plus-effect:before,
#partners-carousel .plus-effect:after {
    display: none !important;
}

.image-wrapper {
    overflow: hidden;
    position: initial;
}

@media (max-width:767px) {
    .navbar {
        flex-grow: auto;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 0;
    }
    .header-bottom .col-lg-9 {
        position: absolute;
        top: 0px;
    }
    .mainmenu-wrapper {
        justify-content: normal;
    }
    .mainmenu-wrapper .row {
        width: 100%
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer;
        width: 40px;
        height: 30px;
        font-size: 16px;
        padding: 0;
        margin-left: 20px;
    }
    .navbar-collapse {
        background: #fff;
        padding: 10px;
        height: 100vh;
        width: 100vw;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 21px;
        padding: 0.5rem 0.8rem;
        border-bottom: 1px solid #e4e4e4;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    /* .bluecolor:last-child {
        padding-left: 13x;
    } */
    .login:after {
        display: none;
    }
    .dropdown-item {
        font-size: 18px;
    }
    .navbar-nav .dropdown-menu {
        padding: 0;
    }
    .dropdown-toggle::after {
        position: absolute;
        right: 10px;
        top: 20px;
    }
    .mobile-space {
        margin-top: 50px;
    }
    .default-footer-section .footer-top .instagram-wrapper ul {
        display: block;
        width: 100%;
    }
    .instagram-wrapper {
        text-align: center;
    }
    .default-footer-section .footer-top .instagram-wrapper ul li {
        width: 100%;
        height: inherit;
        margin: 5px;
    }
    .sidebar-section .location-wrapper .contact-links {
        padding: 10px 10px 30px;
    }
    .sidebar-section {
        min-height: inherit;
    }
    .bg-gray .shareall a {
        margin: 0 10px;
        font-size: 14px;
        float: left;
        position: relative;
    }
    .divider:before {
        display: none;
    }
    .slider-left-content {
        margin-bottom: 40px;
    }
    .main-carousel2 .slick-next,
    .main-carousel2 .slick-prev {
        top: 95% !important;
    }
    .register .nav-tabs .nav-link {
        font-size: 15px;
    }
    .alertbox {
        font-size: 15px;
    }
    .plan-heading {
        padding: 5px;
    }
    .plan-heading h2 {
        font-size: 30px;
    }
    .cart-item {
        position: relative;
        ;
    }
    .cart-item .col-md-3 {
        position: unset;
    }
    .package-details h4 {
        font-size: 18px;
    }
    .remove {
        position: absolute;
        right: 7px;
        top: 9px;
        width: 16px;
        overflow: hidden;
        height: 20px;
    }
    .sub-head {
        display: none;
    }
    .cart-itembox {
        text-align: center;
    }
    .recentevent-block .nav a {
        padding: 13px 10px;
        font-size: 12px;
    }
    .main-banner {
        display: none;
    }
}

#previous-event p {
    color: #fff;
}